#img_slot {
    background-color: #400;
    float: right;
    width: auto;
    margin-left: 15px;
}

#screenshot {
    float: right;
}

#tree_graph {
    float: right;
    display: none;
}

div.tab {
    width: 30%;
    padding: 10px;
    display: inline-block;
    border: 2px solid black;
}

