body {
    color:white;
    background-color:black;
}
#all {
    width: 80%;
    max-width:1500px;
    min-width:1100px;
    background-color: #210d00;
    margin: auto;
    margin-top: 30px;
    padding:20px;
}

#top {
    top: 0;
    position: sticky;
    margin: auto;
    z-index:2;
}

#banner {
    height: auto;
    background-color: #3f1a00;
    text-align:center;
}

#banner img{
    height:auto;
    width:auto;
    max-height:300px;
    max-width:100%;
    display:block;
}

.menu {
    background-color: #000f00;
    overflow: auto;
    margin:auto;
}

.menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.menu li{
    float:left;
}

.menu li a {
    display:block;
    width:120px;
    color:#afa;
    text-align:center;
    padding: 10px;
    text-decoration:none;
    background-color:#020;
}

.menu li a:hover {
    background-color:#050;
}

#content{
    margin:auto;
    text-align:justify;
    overflow:auto;
}

svg text {
    font-size: 10px;
}
svg {
    margin-bottom: 10px;
    margin-top: 10px;
    
}

#tree_graph_slot {
    margin-left:30%;
    margin-right:30%;
    min-width: 420px;
}



#description {
    width:25%;
    float:left;
    overflow:hidden;
}
#summary {
    width:25%;
    float:right;
    overflow:hidden;
}

#settings {
    
    clear:both;
}

.build_element {
    padding: 10px;
    border: 2px solid black;
    margin-top: 10px;
}

#tree_graph_slot .menu {
    width: 420px;
}

#summary dl, dt, dd, ul, li, h2, p {
    display:block;
    margin:0;
    padding:0;
}

#summary ul {
    list-style-type:none;

}
#summary li {
    margin-top:2px;
}

#summary dt{
    background-color:#321;
}

.help{
    font-style:italic;
    margin-top:30px;
    color:#444;
}