@using BuildsOfSkyrim.Models
@model BuildsOfSkyrim.Models.Build

@{
    ViewBag.Title = "Build";
}

<div id="description">
        
</div>
<div id="tree_graph">
    <script>LoadPerkTree(0, "#tree_graph")</script>
</div>
<div id="summary">

</div>

<script>
    function LoadPerkTree(tree_id, target_div) {
        var id = tree_id
        $(target_div).css("display", "block")
        $(target_div).load("@Url.Action("Tree", new { id = })")
    }
    
</script>