
@{
    ViewBag.Title = "Index";
}

<h1>UNDER CONSTRUCTION</h1>

<p>sample text</p>
<p>
    Timeline Series - Vol 1
    Before man came to rule Tamriel, and before the chronicles of the historians recorded the affairs of the rulers of Tamriel, the events of our world are known only through myths and legends, and through the divinely inspired teachings of the Nine Divines.

    For convenience, historians divide the distant ages of prehistory into two broad periods of time -- the Dawn Era, and the Merethic Era.

    The Dawn Era
    The Dawn Era is that period before the beginning of mortal time, when the feats of the gods take place. The Dawn Era ends with the exodus of the gods and magic from the World at the founding of the Adamantine Tower.

    The term 'Merethic' comes from the Nordic, literally, "Era of the Elves." The Merethic Era is the prehistoric time after the exodus of the gods and magic from the World at the founding of the Adamantine Tower and before the arrival of Ysgramor the Nord in Tamriel.

    The following are the most notable events of the Dawn Era, presented roughly in sequence as it must be understaoo [sic] by creatures of time such as ourselves.

    The Cosmos formed from the Aurbis [chaos, or totality] by Anu and Padomay. Akatosh (Auriel) formed and Time began. The Gods (et'Ada) formed. Lorkhan convinced -- or tricked -- the Gods into creating the mortal plane, Nirn. The mortal plane was at this point highly magical and dangerous. As the Gods walked, the physical make-up of the mortal plane and even the timeless continuity of existence itself became unstable.

    When Magic (Magnus), architect of the plans for the mortal world, decided to terminate the project, the Gods convened at the Adamantine Tower [Direnni Tower, the oldest known structure in Tamriel] and decided what to do. Most left when Magic did. Others sacrificed themselves into other forms so that they might Stay (the Ehlnofey). Lorkhan was condemned by the Gods to exile in the mortal realms, and his heart was torn out and cast from the Tower. Where it landed, a Volcano formed. With Magic (in the Mythic Sense) gone, the Cosmos stabilized. Elven history, finally linear, began (ME2500).

    The Merethic Era
    The Merethic Era was figured by early Nord scholars as a series of years numbered in reverse order backward from the their [sic] 'beginning of time' -- the founding of the Camoran Dynasty, recorded as Year Zero of the First Era. The prehistoric events of the Merethic Era are listed here with their traditional Nordic Merethic dates. The earliest Merethic date cited by King Harald's scholars was ME2500 -- the Nordic reckoning of the first year of time. As such, the Merethic Era extends from ME2500 in the distant past to ME1 -- the year before the founding of the Camoran Dysnasty [sic] and the establishment of the White Gold Tower as an indepenent [sic] city-state.

    According to King Harald's bards, ME2500 was the date of construction of the Adamantine Tower on Balfiera Island in High Rock, the oldest known structure of Tamriel. (This corresponds roughly to the earliest historical dates given in various unpublished Elvish chronicles.)

    During the early Merethic Era, the aboriginal beastpeoples of Tamriel -- the ancestors of the Khajiit, Argonian, Orcish, and other beastfolk -- lived in preliterate communities throughout Tamriel.

    In the Middle Merethic Era, the Aldmeri (mortals of Elven origin) refugees left their doomed and now-lost continent of Aldmeris (also known as 'Old Ehlnofey') and settled in southwestern Tamriel. The first colonies were distributed at wide intervals on islands along the entire coast of Tamriel. Later inland settlements were founded primarily in fertile lowlands in southwest and central Tamriel. Wherever the beastfolk encountered the Elves, the sophisticated, literate, technologically advanced Aldmeri cultures displaced the primitive beastfolk into the jungles, marshes, mountains, and wastelands. The Adamantine Tower was rediscovered and captured by the Direnni, a prominent and powerful Aldmeri clan. The Crystal Tower was built on Summerset Isle and, later, White Gold Tower in Cyrodiil.

    During the Middle Merethic Era, Aldmeri explorers mapped the coasts of Vvardenfel [sic], building the First Era High Elven wizard towers at Ald Redaynia, Bal Fell, Tel Aruhn, and Tel Mora in Morrowind. It was also during this period that Ayleid [Wild Elven] settlements flourished in the jungles surrounding White Gold Tower (present day Cyrodiil). Wild Elves, also known as the Heartland High Elves, preserved the Dawn Era magics and language of the Ehlnofey. Ostensibly a tribute-land to the High King of Alinor, the Heartland's long lines of communication from the Summerset Isles' sovereignty effectively isolated Cyrodill [sic] from the High Kings at Crystal Tower.

    The Late Middle Merethic Era is the period of the High Velothi Culture. The Chimer, ancestors of the modern Dunmer, or Dark Elves, were dynamic, ambitious, long-lived Elven clans devoted to fundamentalist ancestor worship. The Chimer clans followed the Prophet Veloth out of the ancestral Elven homelands in the southwest to settle in the lands now known as Morrowind. Despising the secular culture and profane practices of the Dwemer, the Chimer also coveted the lands and resources of the Dwemer, and for centuries provoked them with minor raids and territorial disputes. The Dwemer (Dwarves), free-thinking, reclusive Elven clans devoted to the secrets of science, engineering, and alchemy, established underground cities and communities in the mountain range (later the Velothi Mountains) separating modern Skyrim and Morrowind.

    The Late Merethic Era marks the precipitous decline of Velothi culture. Some Velothi settled in villages near declining and abandoned ancient Velothi towers. During this period, Velothi high culture disappeared on Vvardenfell Island. The earliest Dwemer Freehold colonies date from this period. Degenerate Velothi devolved into tribal cultures which, in time, evolved into the modern Great Houses of Morrowind, or persisted as the barbarian Ashlander tribes. The only surviving traces of this tribal culture are scattered Velothi towers and Ashlander nomads on Vvardenfell Island. The original First Era High Elven wizard towers along the coasts of Tamriel were also abandoned about this time.

    It was in the Late Merethic Era that the pre-literate humans, the so-called "Nedic Peoples", from the continent of Atmora (also 'Altmora' or 'the Elder Wood' in Aldmeris) migrated and settleed [sic] in northern Tamriel. The Nord culture hero Ysgramor, leader of a great colonizing fleet to Tamriel, is credited with developing a runic transcription of Nord speech based on Elvish principles, and so Ysgramor is considered the first human historian. Ysgramor's fleet landed at Hsaarik Head at the extreme northern tip of Skyrim's Broken Cape. The Nords built there the legendary city of Saarthal. The Elves drove the Men away during the Night of Tears, but Ysgramor soon returned with his Five Hundred Companions.

    Also during the Late Merethic Era the legendary immortal hero, warrior, sorceror [sic], and king variously known as Pelinal Whitestrake, Harrald Hairy Breeks, Ysmir, Hans the Fox, etc., wandered Tamriel, gathering armies, conquering lands, ruling, then abandoning his kingdoms to wander again.
</p>
<p>
    Few historic figures are viewed as unambiguously evil, but Potema, the so-called Wolf Queen of Solitude, surely qualifies for that dishonor. Born to the Imperial Family in the sixty-seventh year of the third era, Potema was immediately presented to her grandfather, the Emperor Uriel Septim II, a famously kindhearted man, who viewed the solemn, intense babe and whispered, “She looks like a she-wolf about ready to pounce.”

    Potema's childhood in the Imperial City was certainly difficult from the start. Her father, Prince Pelagius Septim, and her mother, Qizara, showed little affection for their brood. Her eldest brother Antiochus, sixteen at Potema's birth, was already a drunkard and womanizer, infamous in the empire. Her younger brothers Cephorus and Magnus were born much later, so for years she was the only child in the Imperial Court.

    By the age of 14, Potema was a famous beauty with many suitors, but she was married to cement relations with King Mantiarco of the Nordic kingdom of Solitude. She entered the court, it was said, as a pawn, but she quickly became a queen. The elderly King Mantiarco loved her and allowed her all the power she wished, which was total.

    When Uriel Septim II died the following year, her father was made emperor, and he faced a greatly depleted treasury, thanks to his father's poor management. Pelagius II dismissed the Elder Council, forcing them to buy back their positions. In 3E 97, after many miscarriages, the Queen of Solitude gave birth to a son, who she named Uriel after her grandfather. Mantiarco quickly made Uriel his heir, but the Queen had much larger ambitions for her child.

    Two years later, Pelagius II died — many say poisoned by a vengeful former Council member — and his son, Potema's brother Antiochus took the throne. At age forty-eight, it could be said that Antiochus's wild seeds had yet to be sown, and the history books are nearly pornographic in their depictions of life at the Imperial court during the years of his reign. Potema, whose passion was for power not fornication, was scandalized every time she visited the Imperial City.

    Mantiarco, King of Solitude, died the springtide after Pelagius II. Uriel ascended to the throne, ruling jointly with his mother. Doubtless, Uriel had the right and would have preferred to rule alone, but Potema convinced him that his position was only temporary. He would have the Empire, not merely the kingdom. In Castle Solitude, she entertained dozens of diplomats from other kingdoms of Skyrim, sowing seeds of discontent. Her guest list over the years expanded to include kings and queens of High Rock and Morrowind as well.

    For thirteen years, Antiochus ruled Tamriel, and proved an able leader despite his moral laxity. Several historians point to proof that Potema cast the spell that ended her brother's life, but evidence one way or another is lost in the sands of time. In any event, both she and her son Uriel were visiting the Imperial court in 3E 112 when Antiochus died, and immediately challenged the rule of his daughter and heir, Kintyra.

    Potema's speech to the Elder Council is perhaps helpful to students of public speaking.

    She began with flattery and self-abasement: “My most august and wise friends, members of the Elder Council, I am but a provincial queen, and I can only assume to bring to issue what you yourselves must have already pondered.”

    She continued on to praise the late Emperor, who was a popular ruler in spite of his flaws: “He was a true Septim and a great warrior, destroying — with your counsel — the near invincible armada of Pyandonea.”

    But little time was wasted, before she came to her point: “The Empress Magna unfortunately did nothing to temper my brother's lustful spirits. In point of fact, no whore in the slums of the city spread out on more beds than she. Had she attended to her duties in the Imperial bedchamber more faithfully, we would have a true heir to the Empire, not the halfwit, milksop bastards who call themselves the Emperor's children. The girl called Kintyra is popularly believed to be the daughter of Magna and the Captain of the Guard. It may be that she is the daughter of Magna and the boy who cleans the cistern. We can never know for certain. Not as certainly as we can know the lineage of my son, Uriel. The last of the Septim Dynasty.”

    Despite Potema's eloquence, the Elder Council allowed Kintyra to assume the throne as the Empress Kintyra II. Potema and Uriel angrily returned to Skyrim and began assembling the rebellion.

    Details of the War of the Red Diamond are included in other histories: we need not recount the Empress Kintyra II's capture and eventual execution in High Rock in the year 3E 114, nor the ascension of Potema's son, Uriel III, seven years later. Her surviving brothers, Cephorus and Magnus, fought the Emperor and his mother for years, tearing the Empire apart in a civil war.

    When Uriel III fought his uncle Cephorus in Hammerfell at the Battle of Ichidag in 3E 127, Potema was fighting her other brother, Uriel's uncle Magnus in Skyrim at the Battle of Falconstar. She received word of her son's defeat and capture just as she was preparing to mount an attack on Magnus's weakest flank. The sixty-one-year-old Wolf Queen flew into a rage and led the assault herself. It was a success, and Magnus and his army fled. In the midst the victory celebration, Potema heard the news that her son the Emperor had been killed by an angry mob before he had even made it for trial in the Imperial City. He had been burned to death within his carriage.

    When Cephorus was proclaimed Emperor, Potema's fury was terrible to behold. She summoned daedra to fight for her, had her necromancers resurrect her fallen enemies as undead warriors, and mounted attack after attack on the forces of the Emperor Cephorus I. Her allies began leaving her as her madness grew, and her only companions were the zombies and skeletons she had amassed over the years. The kingdom of Solitude became a land of death. Stories of the ancient Wolf Queen being waited on by rotting skeletal chambermaids and holding war plans with vampiric generals terrified her subjects.

    Potema died after a month long siege on her castle in the year 3E 137 at the age of 90 [sic]. While she lived, she had been the Wolf Queen of Solitude, Daughter of the Emperor Pelagius II, Wife of King Mantiarco, Aunt of the Empress Kintyra II, Mother of Emperor Uriel III, and Sister of the Emperors Antiochus and Cephorus. Three years after her death, Antiochus [sic] died, and his — and Potema's — brother Magnus took the throne.

    Her death has hardly diminished her notoriety. Though there is little direct evidence of this, some theologians maintain that her spirit was so strong, she became a daedra after her death, inspiring mortals to mad ambition and treason. It is also said that her madness so infused Castle Solitude that it infected the next king to rule there. Ironically, that was her 18-year-old nephew Pelagius, the son of Magnus. Whatever the truth of the legend, it is undeniable that when Pelagius left Solitude in 3E 145 to assume the title of the Emperor Pelagius III, he quickly became known as Pelagius The Mad. It is even widely rumored that he murdered his father Magnus.

    The Wolf Queen must surely have had the last laugh.


</p>
